---
import BaseLayout from "../layouts/BaseLayout.astro";
import Wave from "../components/Home/Wave.astro";
import Hero from "../components/Home/Hero.astro";

const title = "CareFirst";
---

<BaseLayout pageTitle={title}>
  <main class="min-h-[200vh]">
    <Hero />
  </main>
</BaseLayout>
